<div class="container">
    <div class="row">
        <div class="col-md-12 col-md-offset-12" style="text-align: center;">
            <h1>Bienvenido al acceso premium"</h1>
        </div>
        <div class="col-md-12 col-md-offset-12" style="text-align: center;">
            <p>A continuación podrás elegir la información de 'Rick and Morty' o la de 'Star Wars'
            </p>
            <ul>
                <a [routerLink]="'rick'">Rick and Morty</a>
            </ul>
            <ul>
                <a [routerLink]="'star'">Star Wars</a>
            </ul>
        </div>
    </div>
</div>
<router-outlet></router-outlet>