.status_life {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: rgb(85, 204, 68);
    border-radius: 50%;
}

.status_unknown {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: silver;
    border-radius: 50%;
}

.status_dead {
    height: 0.5rem;
    width: 0.5rem;
    margin-right: 0.375rem;
    background: red;
    border-radius: 50%;
}